/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.display-flex{
    display: flex;
}

/* navbar styles related */
.nav-right ul{
    list-style: none;
}