/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Manrope", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

.display-flex {
  display: flex;
}

.btn {
  font-weight: 600;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(224, 44, 109, 1);
  border-radius: 40px;
  padding: 10px 24px 10px 24px;
  gap: 8px;
  border: none;
}

/* navbar styles related */
.nav-right ul {
  list-style: none;
  gap: 32px;
}

.nav-right a {
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

.nav-container {
  padding: 20px 120px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.nav-left h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 36px;
}

/* hero section related styles */
.hero-container {
  padding: 20px 120px;
  justify-content: space-between;
  align-items: center;
  /* gap: 298px; */
}
.hero-text h2 {
  color: rgba(58, 58, 58, 1);
  font-weight: 700;
  font-size: 3rem;
  line-height: 65px;
  margin-bottom: 15px;
}

.hero-text p {
  color: rgba(58, 58, 58, 1);
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 16px;
  padding-bottom: 17px;
}

.hero-image {
  background-image: url(images/main-camera.png), url(images/Circle\ design.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  width: 100%;
  height: 494px;
}

/* company section related styles */
.company-container {
  padding: 20px 120px;
  gap: 298px;
  margin-bottom: 80px;
}

.company-card {
  padding: 26px 62px;
  gap: 62px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* align-items: center;
  justify-content: space-between; */
  border-radius: 9px 9px 0 0;
  box-shadow: 0 -8px 30px -6px rgba(0, 0, 0, 0.08);
}

/* body related styles */
.body-container {
  padding: 10px 100px;
  margin-bottom: 60px;
}
.body-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.body-container h2 {
  color: rgba(58, 58, 58, 1);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-card {
  padding: 16px 13px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  margin-right: 30px;
  margin-bottom: 30px;
}
.body-card img {
  width: 100%;
}

.body-card h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 37px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.body-card .price {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
}

.body-card .rating {
  font-family: "Roboto", sans-serif;
  color: rgba(94, 99, 102, 1);
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin-bottom: 5px;
  margin-top: 9px;
}

.body-card .description {
  font-family: "Inter", sans-serif;
  color: rgba(94, 99, 102, 1);
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 143%;
  letter-spacing: 1.8%;
}

.body-btn {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(224, 44, 109, 1);
  margin-left: 1140px;
}

/* product section related styles */
.product-content {
  padding: 8px 85px;
  justify-content: space-between;
  gap: 30px;
}

.product-info {
  margin-top: 30px;
}

.product-content img {
  /* height: 310px; */
  width: 484px;
}

.product-content h2 {
  color: rgba(10, 8, 38, 1);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 15px;
}

.product-content p {
  color: rgba(108, 108, 108, 1);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 16px;
}

.products-btn {
  border-radius: 0px;
}

/* footer related styles */
.footer-section {
  margin-top: 90px;
  background: rgba(10, 8, 38, 1);
  width: 100%;
  height: 249px;
}

.footer-container {
  text-align: center;
  padding: 50px 0;
}

.footer-container h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 37px;
  padding: 5px 0;
}

.footer-container .cpyright,
.rights,
.icons {
  font-family: "Manrope", sans-serif;
  color: #d9dbe1;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 21px;
  margin-top: 5px;
}

.icons {
  margin-top: 17px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icon {
  height: 32px;
  width: 32px;
}

/* responsiveness */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    padding: 19px 15px;
  }
  .nav-left h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
  }
  .nav-right a {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
  .nav-right .p,
  .s,
  .l,
  .search {
    visibility: hidden;
  }
  /* .nav-right{
  background-image: url(images/menu-icon.png);
  height: 20px;
  width: 20px;
}   */
  .hero-container {
    flex-direction: column-reverse;
    margin-top: -50px;
    padding: 19px 16px;
  }
  .hero-image {
    height: 270px;
    background-size: contain, 70%;
    background-position: center bottom, center;
  }
  .hero-text h2 {
    margin-top: 60px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
  .hero-text p {
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 22px;
  }
  .company-container {
    margin-top: 5px;
    padding: 19px 16px;
    margin-bottom: 5px;
  }
  .company-card {
    grid-template-columns: repeat(4, 1fr);
    padding: 14px 9px;
    gap: 10px;
  }
  .company-card img {
    height: 46px;
    width: 78px;
    gap: 3px;
  }
  .body-container {
    padding: 19px 18px;
  }
  .body-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
    margin-left: 21px;
  }
  .body-btn {
    margin-top: -5px;
    margin-left: 0;
  }
  .product-content {
    padding: 19px 18px;
  }
  .product-info h2 {
    margin-top: -37px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 45px;
  }
  .product-content p {
    font-weight: 600;
    font-size: 0.84rem;
  }
  .products-btn{
    margin-top: 20px;
    margin-left: 126px;
    margin-bottom: 13px;
  }
  .product-content img{
    width: 100%;
    margin-bottom: -10px;
  }
  .footer-section {
    width: 100%;
  }
  .product-content {
    flex-direction: column-reverse;
  }
}
